---
layout: default
title: Contacto de I-Pueblito
description: Conoce más del proyecto I-Pueblito San Agustín, Huila. Contáctanos en cualquiera de los medios dispuestos aquí.
---

{% include header.html %}

<section class="contacto">
  <h1>Somos I-Pueblito de San Agustín</h1>
<p>Este nuevo proyecto tecnológico nace en esta difícil época del COVID-19. Muchos teníamos negocios que no pudimos seguir trabajando.</p>
<p>Pero también, gracias a Jehová, ahora teníamos más tiempo libre. Esto me sirvió para seguir estudiando con más profundidad mi carrera por pasión: el diseño web y el social media manager.</p>
<h2>Ahora tú puedes trabajar desde casa</h2>
<p>I-Pueblito es la respuesta a la necesidad que todos tenemos de <strong>seguir trabajando.</strong> Con este proyecto ahora San Agustín tiene estas ventajas:</p>
<ul>
  <li class="icon-check">Ya <strong>no tienes que salir de casa</strong> para continuar con tu negocio.</li>
  <li class="icon-check">Si eres cliente, sigue disfrutando de los productos que más te gustan y que necesitas.</li>
  <li class="icon-check">Ya no tenemos que correr riesgos al salir a hacer compras o gestiones.</li>
  <li class="icon-check">Podemos brindar las bases para mejorar otras áreas valiosas del comercio, como el turismo.</li>
  <li class="icon-check">A todos, con o sin dinero, se les da <strong>la oportunidad de ofrecer sus productos.</strong></li>
  <li class="icon-check">Ya puedes aprender a usar las redes sociales junto a nosotros para aumentar tus ventas.</li>
  <li class="icon-check">Aprende a hacer pagos en línea con seguridad. Así también evitarás el riesgo de utilizar efectivo.</li>
</ul>
<div class="contacto-iconos">
<span class="icon-maquina-cocer"></span>
<span class="icon-perro"></span>
<span class="icon-lapicero"></span>
<span class="icon-cher"></span>
<span class="icon-paleta"></span>
</div>
</section>
<section>
  <h2>¿Cómo puedo ofrecer mis productos o mis servicios?</h2>
  <p>Escríbenos a nuestro WhatsApp para enviarte toda la información necesaria. Sabrás cómo publicar tus productos, qué información enviar y cómo preparar tus envíos.</p>
  {% include boton.html path="https://wa.me/573115245225" texto="Escríbenos por WhatsApp" %}
</section>
<section class="contacto-redes">
  <h2>¿Qué debo hacer para comprar por la página?</h2>
  <p><strong>Solamente escoge el producto que necesitas. Luego nos escribes para hacer tu pedido.</strong>  En ese momento, nuestros vecinos capacitados para atenderte y prevenir riesgos sobre contagio, recogerán tu pedido y lo llevarán hasta tu casa.</p>
  <p>Por otra parte, te enseñaremos a utilizar toda la tecnología disponible para hacer tus pagos por internet. Además, si sigues nuestras redes sociales, podrás aprender consejos de seguridad informática muy sencillos para que nadie te robe tu dinero.</p>
  <h3>Aquí encuentras nuestras redes sociales:</h3>
  <p>Haz clic en la red social que desees seguir. También puedes escribirnos o llamarnos directamente al número que aparece al final:</p>
  <ul class="redes">
    <a href="{{ site.whatsapp }}"><li class="icon-whatsapp"><span> +3115245225</span></li></a>
    <a href="{{ site.facebook }}"><li class="icon-facebook"><span> @ipueblito</span></li></a>
    <a href="{{ site.instagram }}"><li class="icon-instagram"><span> @ipueblito</span></li></a>
  </ul>
</section>
<section>
  <h2>¿Quiénes forman el equipo de IPueblito San Agustín?</h2>
  <p>Hasta el día de hoy, trabajamos dos personas en oficina y 3 como domiciliarios. Para nosotros es un gusto poner a disposición nuestras habilidades para servir a la comunidad.</p>
{% include share.html %}
</section>
