<header class="header">
  <div>
    {% include logo.html %}
  </div>
  <ul class="redes">
    <a href="{{ site.facebook }}"><li class="icon-facebook wow bounceInLeft"><span>@nol</span></li></a>
    <a href="{{ site.instagram }}"><li class="icon-instagram wow bounceInUp"><span>@nol</span></li></a>
    <a href="{{ site.youtube }}"><li class="icon-youtube wow bounceInDown"><span>@nol</span></li></a>
    <a href="{{ site.whatsapp }}"><li class="icon-whatsapp wow bounceInRight"><span>+3218301698</span></li></a>
  </ul>

</header>