<nav class="wow fadeInUp data-wow-delay='1s'">
  <ul>
    <li><a href="{{site.baseurl}}/" class="icon-home"> <span>Inicio</span></a></li>
    <li><a href="{{site.baseurl}}/search" class="icon-search"> <span>Buscar</span></a></li>
    <li><a href="{{site.baseurl}}/contacto" class="icon-iphone-streamline"> <span>IPueblito</span></a></li>
    <li><a href="{{site.baseurl}}/magazine" class="icon-coffee wow lightSpeedOut" data-wow-delay='0.7s' data-wow-iteration="5"> <span>¡Lo último!</span></a></li>
  </ul>
</nav>