<section>

  <h1>San Agustín Huila en internet</h1>
  <p>Ahoro todo y todos estamos en internet. Nuestro pueblo también. Encuentra lo que tú necesitas entre nosotros.</p>
  <p>Preparamos este sitio para todos nuestros vecinos locales y visitantes. Encuentra la información que más podemos ofrecer: <strong>comercio, turismo, servicios, etc.</strong></p>

  <h2>Productos destacados de San Agustín:</h2>
  <div class="galeria">

    {% include entradas.html limite="7" %}

  </div>

  {% include boton.html path="categorias/" texto="Mira todas las opciones" %}

</section>