<section>

  <h1>San Agustín Huila en internet</h1>
  <p>Ahoro todos estamos en internet. Y nuestro amado pueblo también. Encuentra lo que tú necesitas con nosotros.</p>
  <p>Preparamos este sitio para todos nuestros vecinos locales y visitantes. Busca toda la información sobre <strong>comercio, turismo, servicios, etc.</strong></p>

  <h2>Productos destacados de San Agustín:</h2>

  <section>
    {% include boton.html path="/ipueblito/search" texto="Busca lo que necesitas" %}
    </section>
    
  <div class="galeria">

    {% include entradas.html limite="7" %}

  </div>

  {% include boton.html path="categorias/" texto="Mira todas las opciones" %}

  
</section>
