<section class="publicidad">
  <h3>Heladería GurCoff</h3>
  <picture>
    <source type="image/webp" srcset="{{ site.baseurl }}/{{ page.publicidad1webp }}">
    <img src="{{ site.baseurl }}/{{ page.publicidad1 }}" alt="{{ galeria.altpublicidad1 }}">
  </picture>
  <picture>
    <source type="image/webp" srcset="{{ site.baseurl }}/{{ page.publicidad1awebp }}">
    <img src="{{ site.baseurl }}/{{ page.publicidad1a }}" alt="{{ galeria.altpublicidad1a }}">
  </picture>
  {% include boton.html path="https://gurcoff.com" texto="Conoce más" %}
</section>