  <div class="slider">
    <ul>
      {% for producto in site.posts %}
      {% if producto.slider == 'si' %}
      <li>
        <a href="{{ site.baseurl }}{{ producto.url }}">
          <picture>
            <source media="(min-width: 768px)" type="image/webp" srcset="{{ site.baseurl }}{{ producto.webp3 }}">
            <source media="(min-width: 768px)" srcset="{{ site.baseurl }}{{ producto.jpg3 }}">
            <source media="(min-width: 576px)" type="image/webp" srcset="{{ site.baseurl }}{{ producto.webp2 }}">
            <source media="(min-width: 576px)" srcset="{{ site.baseurl }}{{ producto.jpg2 }}">
            <source media="(min-width: 400px)" type="image/webp" srcset="{{ site.baseurl }}{{ producto.webp1 }}">
            <source media="(min-width: 400px)" srcset="{{ site.baseurl }}{{ producto.jpg1 }}">
            <source media="(max-width: 399px)" type="image/webp" srcset="{{ site.baseurl }}{{ producto.srcwebp }}">
            <img src="{{ site.baseurl }}{{ producto.src }}" alt="{{ producto.alt }}">
          </picture>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>