/*** Formatos Compartidos ***/
.foto img,
.publicidad {
  border-radius: 15px;
}

.foto img {
  box-shadow: 10px 7px 20px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 992px) {

  .foto img {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.3);
  }
}