.nosotros {
  padding: 0 2em 2em;
  background-image: url(../img/vasito.png);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  align-items: flex-end;

}

.nosotros p {
  font-size: 2em;
  font-family: var(--fuenteGraficas);
  font-weight: 300;
  margin-bottom: 1em;
  text-align: center;
  background-color: var(--colorBlancoRGBA);
  padding: 0.5em 1em;
}

@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -200%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -300%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -400%;
  }

  100% {
    left: -500%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -200%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -300%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -400%;
  }

  100% {
    left: -500%;
  }
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 100vw;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: 12s slidy infinite;
  animation: 12s slidy infinite;
}

.instagram h2 {
  text-align: center;
}

footer p {
  font-size: 0.8em;
}

footer section#contacto {
  margin: 0 2em 5em;
  display: grid;
}

footer div ul {
  padding: 0;
}

footer a {
  text-decoration: underline;
}

footer .contactos h3 {
  color: var(--colorRosado);
}

footer .horario h3 {
  color: var(--colorAmarillo);
}

footer .redes h3 {
  color: var(--colorVerde);
}

footer .legal h3 {
  color: var(--colorAzul);
}

footer span {
  color: var(--colorMorado);
  font-size: 1.3em;
}

@media only screen and (min-width: 576px) {

  #contacto {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    text-align: center;
  }

  #contacto span {
    padding: 0 0.5em;
  }

  .legal {
    grid-column: span 2;
  }
}

@media screen and (min-width: 768px) {

  .nosotros {
    height: 90vh;
  }

}


@media screen and (min-width: 992px) {
  footer section#contacto {
    margin: 7em;
    grid-template-columns: repeat(3, 1fr);
  }

  .legal {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1200px) {

  .nosotros {
    -webkit-box-pack: end;
            justify-content: flex-end;
  }

  .nosotros p {
    margin-bottom: 7em;
    width: 40vw;
  }

  div#slider figure img {
    width: 100%;
  }

  div#slider figure {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    width: 100vw;
    -webkit-animation: none;
    animation: none;
  }

}

@media screen and (min-width: 1400px) {
  .nosotros {
    background-position: 10em;
  }

  .nosotros p {
    padding: 0 5em 5em 0;
  }
}