---
layout: default
---
{% include header.html %}
<section>
  <h1>{{ page.title }}</h1>

  <picture class="foto">
    <source media="(min-width: 450px)" type="image/webp" srcset="{{ site.baseurl }}/{{ page.webp1 }}">
    <source media="(min-width: 450px)" srcset="{{ site.baseurl }}/{{ page.src1 }}">
    <source type="image/webp" srcset="{{ site.baseurl }}/{{ page.webp }}">
    <img src="{{ site.baseurl }}/{{ page.src }}" class="wow flipInY"  data-wow-delay="0.7s" alt="{{ page.alt }}">
  </picture>

</section>

<main class="articulo">
  {{ content }}
</main>

  {% include share.html %}

  <section >
  <h2>Más opciones que te recomendamos:</h2>
  <div class="referenciados">
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    {% for post in site.categories[category_name] limit="5" %}
    {% if post.pago == 'si' %}
      <article>
        <picture class="foto">
            <source type="image/webp" srcset="{{ site.baseurl }}/{{ post.webp }}">
            <img src="{{ site.baseurl }}/{{ page.src }}" class="wow flipInY"  data-wow-delay="0.7s" alt="{{ post.alt }}">
        </picture>
          <h3>
            {{ post.excerpt }}
          </h3>
          <a href="{{ site.baseurl }}{{ post.url }}" class="icon-chevron-circle-right"> Ver más</a>
      </article>
    {% endif %}
    {% endfor %}
    {% endfor %}

  </div>
</section>